<div class="container">
    <div class="shape">
        <div class="logo">
            <img src="/assets/images/logo.png" alt="">
        </div>
        <div class= "content">
            <br><br>
            <hr class="separator">
            <h1>DISEÑO WEB MENDOZA</h1>                        
            <h2>Estrategias de marketing digital a medida.</h2>
            <p>El equipo de efecto web desarrolla el diseño y la experiencia de tus clientes
            dentro de tu sitio web en base a una estrategia de marketing digital que te
            asegura el inicio de tu posicionamiento SEO.</p>   
        </div>        
    </div>
    <div class="circle">
        <i class="fa fa-arrow-down"></i>
    </div>    
</div>
