<div class="container">
    <div class="shape">
            <div class="logo">
                    <img src="/assets/images/logo.png" alt="">
                </div>
        <div class= "content">
            <hr class="style-eight">
            <h1>DISEÑO WEB MENDOZA</h1>
                    
            <p>Creamos estrategias de marketing digital a medida y bajo las nuevas
             tecnologías digitales.</p>
            <p>El equipo de efecto web desarrolla el diseño y la experiencia de tus clientes
            dentro de tu sitio web en base a una estrategia de marketing digital que te
            asegura el inicio de tu posicionamiento SEO.</p>   
        </div>        
    </div>   
</div>
