<div class="container">
  <div class="image">
    <img src="/assets/images/celulares.png" alt="">
  </div>
  <div class="content">
    <div class="header">
      <h3>PUBLICIDAD ON-LINE</h3>
      <div class="rectangle"></div>        
    </div>
    <div class="text">
      <p>Dale valor y mejor posicionamiento a tu marca en las redes sociales.</p>
      <p>Creamos estrategias con nuestros community managers que ayuden a fidelizar a tu público, 
         brindar un mayor valor de atención a consultas e interactuar de la forma mas divertida
      </p>
    </div>
    <div class="circle">
      <i>$4500</i>
      <p>mensual</p>
    </div>
  </div>
</div>

