<div class="container">
  <div class="title">
    <h3>NUESTROS PRECIOS</h3>
    <p>Precios adaptados para cada cliente en particular</p>
    <hr class="separator-black">
  </div>
  <div class="content">
    <div class="item">
      <div class="top">
        <h4>PLANTILLA</h4>
        <div class="circle">
          <i>$4200</i>
        </div>
      </div>     
      <div class="bottom">
        <p>En 10 días</p>
        <p>Selección de plantilla</p>
        <p>Selección de servidor</p>
        <p>Optimización de contenido</p>
        <div class="button">
          <p>ELEGIR PLAN</p>
        </div>
      </div>
    </div>

    <div class="blue">
      <div class="top">
        <h4>PERSONALIZADA</h4>
        <div class="circle">
          <i>$6800</i>
        </div>
      </div>     
      <div class="bottom">
        <p>En 20 días</p>
        <p>Estrategia S.E.O.</p>
        <p>Diseño personalizado</p>
        <p>Desarrollo de estrategia</p>
        <div class="button">
          <p>ELEGIR PLAN</p>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="top">
        <h4>E-COMMERCE</h4>
        <div class="circle">
          <i>$10500</i>
        </div>
      </div>     
      <div class="bottom">
        <p>En 40 días</p>
        <p>Estrategia S.E.O.</p>
        <p>Diseño y Sistema personalizado</p>
        <p>Desarrollo de estrategia</p>
        <div class="button">
          <p>ELEGIR PLAN</p>
        </div>
      </div>
    </div>
  </div>
</div>   