@import '../../colors.sass  '
.container
    margin-top: 3rem
    display: flex
    flex-direction: column
    justify-content: center
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%
    .title
        text-align: center
        hr
            margin-top: 2rem
    .content
        margin-top: 2rem
        display: flex
        flex-direction: row
        justify-content: center
        .item
            margin: 0px 5px
            text-align: center
            width: 23%
            align-content: center
            .top
                background-color: $dark-gray
                color: #ffffff
                padding-top: 1rem
                font-size: 1.5rem
                height: 30%
                display: flex
                justify-content: center
                flex-direction: column
                align-items: center
                .circle
                    position: relative
                    width: 9rem
                    height: 22rem
                    background-color: $light-gray;
                    border-radius: 50%;
                    border: 7px solid rgba(0,0,0, .1)
                    top: 25%                    
                    i
                        position: relative
                        font-size: 2.5rem
                        color: $dark-gray
                        font-weight: bolder
                        font-style: normal     
                        top: 30%               
            .bottom
                background-color: $light-gray
                margin-top: -1rem
                padding-top: 7rem
                padding-bottom: 6px
                color: #707172
                .button
                    background-color: $dark-gray;
                    border: none;
                    color: white;
                    padding: 15px 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    margin-top: 2rem
                    margin-bottom: 3rem
                    cursor: pointer;

.blue
            margin: 0px 5px
            text-align: center
            width: 23%
            align-content: center
            .top
                background-color: $light-blue
                color: #ffffff
                padding-top: 1rem
                font-size: 1.5rem
                height: 30%
                display: flex
                justify-content: center
                flex-direction: column
                align-items: center
                .circle
                    position: relative
                    width: 9rem
                    height: 22rem
                    background-color: $light-gray;
                    border-radius: 50%;
                    border: 7px solid rgba(0,0,0, .1)
                    top: 25%                    
                    i
                        position: relative
                        font-size: 2.5rem
                        color: $dark-gray
                        font-weight: bolder
                        font-style: normal     
                        top: 30%       
                        
                          
            .bottom
                background-color: $light-gray
                margin-top: -1rem
                padding-top: 7rem
                padding-bottom: 6px
                color: #707172
                .button
                    background-color: $light-blue;
                    border: none;
                    color: white;
                    padding: 15px 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    margin-top: 2rem
                    margin-bottom: 3rem
                    cursor: pointer;

        
