<div class="container">
  <div class="title">
    <h3>NUESTROS PRECIOS</h3>
    <p>Precios adaptados para cada cliente en particular</p>
    <hr class="separator-black">
  </div>
  <div class="content">
    <div class="item">
      <div class="top">
        <h4>PLANTILLA</h4>
        <div class="circle">
          <i>$4500</i>
        </div>
      </div>     
      <div class="bottom">
        <p>En 10 días</p>
        <p>Selección de plantilla</p>
        <p>Selección de servidor</p>
        <p>Optimización de contenido</p>
        <button class="button" (click)="moveTo('Plantilla')" scrollTo="contacto">
          ELEGIR PLAN
        </button>
      </div>
    </div>

    <div class="blue">
      <div class="top">
        <h4>PERSONALIZADA</h4>
        <div class="circle">
          <i>$7200</i>
        </div>
      </div>     
      <div class="bottom">
        <p>En 20 días</p>
        <p>Estrategia S.E.O.</p>
        <p>Diseño personalizado</p>
        <p>Desarrollo de estrategia</p>
        <button class="button" (click)="moveTo('Personalizada')" scrollTo="contacto">
          ELEGIR PLAN
        </button>
      </div>
    </div>

    <div class="item">
      <div class="top">
        <h4>E-COMMERCE</h4>
        <div class="circle">
          <i>$11300</i>
        </div>
      </div>     
      <div class="bottom">
        <p>En 40 días</p>
        <p>Estrategia S.E.O.</p>
        <p>Diseño y Sistema personalizado</p>
        <p>Desarrollo de estrategia</p>
        <button class="button" (click)="moveTo('E-Commerce')" scrollTo="contacto">
          ELEGIR PLAN
        </button>
      </div>
    </div>
  </div>
</div>   