<div class="container">
  <div class="item">
    <div class="icon">
      <i class="fa fa-line-chart" aria-hidden="true"></i>
    </div>
    <h3>ESTRATEGIA S.E.0.</h3>
    <hr class="simple">
    <p>Aumenta el 50% de tus ventas. Creamos estrategias de embudo de conversión.</p>
  </div>
  <div class="blue">
    <div class="icon">
      <i class="fa fa-rocket" aria-hidden="true"></i>
    </div>
    <h3>DISEÑO MODERNO</h3>
    <hr class="simple">
    <p>El diseño genera el 60% de la intención de compra. Y lo hacemos posible.</p>
  </div>
  <div class="item">
    <div class="icon">
      <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
    </div>
    <h3>PÁGINAS RESPONSIVE</h3>
    <hr class="simple">
    <p>El 70% de visitas son a través del celular. Adaptamos tu web para todos los dispositivos.</p>
  </div>
  <div class="item">
    <div class="icon">
      <i class="fa fa-heart-o" aria-hidden="true"></i>
    </div>
    <h3>CÓDIGO LIMPIO</h3>
    <hr class="simple">
    <p>Un código limpio te provee una página rápida lo que aumenta en un 60% la posibilidad de conversión</p>
  </div>
</div>