<div class="container">
  <div class="item">
    <div class="icon">
      <i class="fa fa-line-chart" aria-hidden="true"></i>
    </div>
    <h2>ESTRATEGIA S.E.0.</h2>
    <hr class="simple">
    <p>Lorem ipsum is simply dummy text of the printing and typesetting let. Lorem ipsum has been the industry</p>
  </div>
  <div class="blue">
    <div class="icon">
      <!--<img src="/assets/images/glasses.png" alt=""> -->
      <i class="fa fa-rocket" aria-hidden="true"></i>
    </div>
    <h2>DISEÑO MODERNO</h2>
    <hr class="simple">
    <p>Lorem ipsum is simply dummy text of the printing and typesetting let. Lorem ipsum has been the industry</p>
  </div>
  <div class="item">
    <div class="icon">
      <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
    </div>
    <h2>PÁGINAS RESPONSIVE</h2>
    <hr class="simple">
    <p>Lorem ipsum is simply dummy text of the printing and typesetting let. Lorem ipsum has been the industry</p>
  </div>
  <div class="item">
    <div class="icon">
      <i class="fa fa-heart-o" aria-hidden="true"></i>
    </div>
    <h2>CÓDIGO LIMPIO</h2>
    <hr class="simple">
    <p>Lorem ipsum is simply dummy text of the printing and typesetting let. Lorem ipsum has been the industry</p>
  </div>
</div>