@import './../../responsive.sass';

.container
    margin-top: 8rem
    width: 100%
    height: 48rem
    position: relative
    @include mobile
        display: none        
    .image
        position: absolute
        img 
            width: 100%
            height: auto

    .content
        position: absolute
        float: right
        padding-left: 40%
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: flex-end
        align-content: flex-start
        font-family: 'Open Sans', sans-serif;        
        .header
            h3 
                display: inline-block                
